<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pixels.gimnasio">

    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-configuration android:reqTouchScreen="finger" />
	<uses-feature android:name="android.hardware.touchscreen" android:required="true" />
	
	
    <application
            android:allowBackup="true"
            android:icon="@mipmap/mono"
            android:label="@string/app_name"
			android:state_hovered="true"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
		
			
		<activity
			android:name=".vpagosA"
			android:supportsRtl="true"

			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".pagos"
			android:supportsRtl="true"

			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".agusdesc"
			android:supportsRtl="true"

			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".descudetailactivity"
			android:supportsRtl="true"

			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".preciodetailactivity"
			android:supportsRtl="true"

			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".CronometroActivity"
			android:supportsRtl="true"
			android:theme="@style/AppTheme.NoActionBar"/>
		
		<activity
			android:name=".ruiusu"
			android:supportsRtl="true"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".agregarusu"
			android:supportsRtl="true"
			android:theme="@style/AppTheme.NoActionBar"/>
		<activity
			android:name=".rutiusuariof"
			android:supportsRtl="true"
			android:theme="@style/AppTheme.NoActionBar"/>
		
		<activity
			android:name=".usuariosdetailactivity"
			android:supportsRtl="true"
			
			android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".administradorListActivity"
                android:label="Administrador"
			android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".administradorDetailActivity"
				android:supportsRtl="true"
                android:label="@string/title_administrador_detail"
                android:theme="@style/AppTheme.NoActionBar">
            
        </activity>
        <activity
                android:name=".usuarioListActivity"
                android:label="Usuario"
				android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".usuarioDetailActivity"
                android:label="@string/title_usuario_detail"
				android:supportsRtl="true"
               
                android:theme="@style/AppTheme.NoActionBar">
           
        </activity>
        <activity
                android:name=".cargar"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".inicio"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
