<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pixels.gimnasio">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/mono"
            android:label="@string/app_name"
            android:resizeableActivity="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".administradorListActivity"
                android:label="administrador"
			android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".administradorDetailActivity"
				android:supportsRtl="true"
                android:label="@string/title_administrador_detail"
                android:parentActivityName=".administradorListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.pixels.gimnasio.administradorListActivity"/>
        </activity>
        <activity
                android:name=".usuarioListActivity"
                android:label="Usuario"
				android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".usuarioDetailActivity"
                android:label="@string/title_usuario_detail"
				android:supportsRtl="true"
                android:parentActivityName=".usuarioListActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.pixels.gimnasio.usuarioListActivity"/>
        </activity>
        <activity
                android:name=".cargar"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".inicio"
                android:supportsRtl="true"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
